__Chapter 2 - Data Preparation Basics__

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

_Section 1 - Filtering and Selecting Data_

__Selecting and Retrieving Data__

You can write an index value in two forms:<br>

1.) Label index <br>
2.) Integer index <br>

In [4]:
series_obj = Series(np.arange(8), index = ['row 1','row 2','row 3','row 4','row 5','row 6', 'row 7', 'row 8'])
series_obj

In [5]:
# Label index
series_obj['row 7']

6

In [7]:
# Integer index
series_obj[[0, 7]]

row 1    0
row 8    7
dtype: int32

In [10]:
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape(6,6), index = ['row 1','row 2','row 3','row 4','row 5','row 6'],
                    columns = ['column 1','column 2','column 3','column 4','column 5','column 6'])
DF_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [11]:
DF_obj.loc[['row 2', 'row 5'], ['column 5', 'column 2']]

       column 5  column 2
row 2  0.402366  0.437611
row 5  0.421004  0.559053

__Data Slicing__ <br>

Data slicing can be used to select and return a slice of several values from a data set. Slicing uses index values so you can use the same square brackets when doing data slicing. <br>

How slicing differs is that with slicing, you can pass in two index values that are separated by a colon. The index value on the left side of the colon should be the first value you want to select. On the right side of the colon, you write the index value for the last value you want to retrieve. When you execute the code, the indexer then simply finds the first record and last record and returns every record in between them.

In [12]:
series_obj['row 3': 'row 7']

row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
dtype: int32

__Comparing with Scalars__ <br>
Now we're going to talk about comparison operators and scalar values. A scalar is a single numerical value. These numbers can be used with comparison operators to return true/false values for all records to indicate how each element compares to the scalar value.

In [13]:
DF_obj < .2

       column 1  column 2  column 3  column 4  column 5  column 6
row 1     False     False     False      True     False      True
row 2     False     False     False     False     False      True
row 3     False     False      True     False     False     False
row 4     False     False     False     False     False     False
row 5     False     False      True     False     False     False
row 6     False     False     False     False     False     False

__Filtering with scalars__

In [14]:
series_obj[series_obj > 6]

row 8    7
dtype: int32

__Setting values with scalars__

In [17]:
series_obj[['row 1', 'row 5', 'row 8']] = 8
series_obj

row 1    8
row 2    1
row 3    2
row 4    3
row 5    8
row 6    5
row 7    6
row 8    8
dtype: int32

Filtering and selecting using Pandas is one of the most fundamental things you will do in data analysis. Make sure you know how to use indexing to select and retreive records.